h1 {
  color: darkblue;
  font-family: futura;
}

.about {
  color: teal;
  font-famiy: arial;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog {
  color: orange;
  font-style: bold;
}

.description {
  color: black;
  font-style: normal;
}

.breakfast {
  font-style: italic;
  color: darkred;
  border: 2px solid pink;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.bread {
  font-style: italic;
  color: darkgreen;
  border: 2px solid pink;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.need {
  font-style: oblique;
  font-family: futura;
  color: black;
}

.directions {
  font-style: oblique;
  font-family: futura;
  color: gray;
}

.recipe {
  font-size: 16;
  font-style: normal;
  font-family: Futura;
}
